<h1 style=";margin-bottom:0;text-align:center">
    <span style="font-family: 微软雅黑;color:#1F1F1F">报名协议</span>
</h1>
<h2 style=";margin-bottom:0">
    <span style="font-size:14px">重要提示：</span>
</h2>
<h2 style=";margin-bottom:0">
    <span style="font-size:14px">尊敬的学员，您好！您（学员）在点击“支付学费”按钮前，请务必仔细阅读本协议，您点击“支付学费”按钮，即视同您已完全理解，并确认同意本协议的内容。</span>
</h2>
<p style=";margin-bottom:0;text-indent:28px">
    <span style="font-family:宋体">学员（以下简称甲方）自愿报名参加小鹿微课（以下简称乙方）开展的</span>“<span style="font-family:宋体">共读计划</span>”<span style="font-family:宋体">系列课程学习，双方就相关事宜达成如下协议：</span>
</p>
<h2 style=";margin-bottom:0">
    <span style="font-size:14px">一、甲方的权利与义务：</span>
</h2>
<p style=";margin-bottom:0;text-indent:28px">
    1.<span style="font-family:宋体">甲方按乙方规定的价格交纳报名费，以取得学员资格。甲方未足额交纳报名费的，即未完成报名，不享有参加学习乙方课程的学员资格。报名时间，以最终实际支付报名费的时间为准。</span>
</p>
<p style=";margin-bottom:0;text-indent:28px">
    2.<span style="font-family:宋体">乙方通过自身开设的微信公众号（微信昵称：【小鹿微课】或其他相关名称）向甲方推送课程开设、学习资料等信息。<strong>甲方完成报名后，应关注乙方上述微信公众号，不得随意取消，否则，因此导致甲方无法收到乙方推送信息而无法按时参加乙方课程学习的，乙方对此免责。</strong></span>
</p>
<p style=";margin-bottom:0;text-indent:28px">
    3.<span style="font-family:宋体">甲方保证向乙方提供的姓名、性别、电话、地址、感兴趣的书籍类型等个人资料真实、准确、有效，确保乙方能通过上述联系方式与甲方联系。</span>
</p>
<p style=";margin-bottom:0;text-indent:28px">
    4.<span style="font-family:宋体">甲方有权在报名时了解乙方</span>“180<span style="font-family:宋体">天提升自己</span>”<span style="font-family:宋体">课程名称及简要目录。<strong>甲方同意乙方根据实际情况对开展的课程进行略微调整。</strong></span>
</p>
<p style=";margin-bottom:0;text-indent:28px">
    5. <span style="font-family:宋体">甲方认真遵守国家法律法规、乙方的学习流程及相关机制规则，按时参加学习及考试</span>/<span style="font-family:宋体">测试。</span>
</p>
<h2 style=";margin-bottom:0">
    <span style="font-size:14px">二、乙方的权利与义务：</span>
</h2>
<p style=";margin-bottom:0;text-indent:28px">
    1.<span style="font-family:宋体">乙方有义务保证甲方的个人信息不得公开，只留乙方备案使用。</span>
</p>
<p style=";margin-bottom:0;text-indent:28px">
    3.<span style="font-family:宋体">乙方有权要求甲方尊重乙方对乙方课程学习资料享有的版权，不得交由他人使用，不得进行盗版课程或从事非法牟利活动。</span>
</p>
<p style=";margin-bottom:0;text-indent:28px">
    4.<span style="font-family:宋体">乙方有权按照乙方学习规则对甲方进行指导和管理，并对甲方违反乙方学习规则的行为给予相应的处罚。</span>
</p>
<h2 style=";margin-bottom:0">
    <span style="font-size:14px">三、报名费用支付：</span>
</h2>
<p style=";margin-bottom:0;text-indent:28px">
    <span style="font-family:宋体">甲方认真阅读并确认该协议全部内容后，支付报名费用。<strong>报名费用一经支付，不予退费，</strong>但乙方终止运营、停止开班的除外。</span>
</p>
<h2 style=";margin-bottom:0">
    <span style="font-size:14px">四、其它约定：</span>
</h2>
<p style=";margin-bottom:0;text-indent:28px">
    <span style="font-family:宋体">连续一个月未参加学习，也未按要求请假者，视为自动中止学习。乙方有权利关闭其登陆入口，甲方如需继续学习，需向乙方申请重新开通。</span>
</p>
<h2 style=";margin-bottom:0">
    <span style="font-size:14px">五、协议有效期：</span>
</h2>
<p style=";margin-bottom:0;text-indent:28px">
    <span style="font-family:宋体">本协议自付款签定之日起生效，自</span>“<span style="font-family:宋体">共读计划</span>”<span style="font-family:宋体">系列课程学制期满自动终止。</span>
</p>
<h2 style=";margin-bottom:0">
    <span style="font-size:14px">六、争议解决：</span>
</h2>
<p style="margin-bottom: 0px; text-indent: 28px;">
    <strong><span style="font-family: 宋体">在合同有效期内如有争议时，双方协商解决，经协商不成，可提请乙方公司所在地诉讼。</span></strong>
</p>