<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>共读书院</title>
    <meta charset="utf-8" >
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" >
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="https://jhsy.caizhu.com/static/css/m-main.css?data=0512" >
    <link rel="stylesheet" href="http://7xpo0j.com1.z0.glb.clouddn.com/reading/css/m-show.css" >
    <link rel="stylesheet" href="https://jhsy.caizhu.com/static/css/m-sy.css?data=0512" >
</head>
<body>

<div class="show-box nobd">
    <div class="pb-info pt20 clearfix">
        <span class="show-over">{{ .NickName }}</span>
        <img src="{{ .AvatarUrl }}">
    </div>

    <section class="enroll-box">
        <ol class="enroll-status">
            <li class="eb-tone eb-icon">
                <span class="icon-enroll"></span>
                <p>报名</p>
            </li>
            <li class="eb-tone eb-line"></li>
            <li class="eb-tone eb-icon current">
                <span class="icon-fee"></span>
                <p>付费</p>
            </li>
            <li class="eb-tone eb-line"></li>
            <li class="eb-tone eb-icon">
                <span class="icon-begin"></span>
                <p>开学</p>
            </li>
        </ol>
        <ul class="enroll-infobox mt20">
            <li id="enroll-swipe" class="eb-block eb-block02 eb-level1">
                <ul >
                    <li>
                        <section class="pay-infobox">
                            <div class="pay-info">
                                <p class="pay-text">优惠特价</p>
                                <div class="pay-int">
                                    <i>￥</i><span>199</span>
                                </div>
                                <p class="pay-original">原价 <span>499</span></p>
                            </div>
                        </section>
                        <!--<div class="eb-salebox">-->
                            <!--<div class="">-->
                                <!--<p class="fc-999">共读书院</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    </li>
                </ul>
                <div class="enroll-dobox enroll-dobox02"><span id="do-pay" class="offer-btn do-pay" onclick="doPay()">支付学费</span></div>
            </li>
        </ul>
    </section>
</div>

<div id="app-pay-loading" :class="{hide: !loadingStatus}"><defined-pay-loading></defined-pay-loading></div>

<script src="https://jhsy.caizhu.com/static/js/zepto.min.js"></script>
<script src="https://jhsy.caizhu.com/static/js/timecountdown.js?data"></script>

<script>
    //调用微信JS api 支付
	function jsApiCallPay() {
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			{
                "appId": {{ .WxJsApiParams.AppId }},
                "timeStamp": {{ .WxJsApiParams.TimeStamp }},
                "nonceStr": {{ .WxJsApiParams.NonceStr }},
                "package": {{ .WxJsApiParams.Package }},
                "signType": {{ .WxJsApiParams.SignType }},
                "paySign": {{ .WxJsApiParams.PaySign }}
            },
			function(res) {
			    if (res.err_msg == "get_brand_wcpay_request:ok") {
			        location.assign('/reading/success?openid={{ .OpenId }}');
			    } else if (res.err_msg == "get_brand_wcpay_request:fail") {
			        alert("支付失败, 请重新支付");
			    }
				// WeixinJSBridge.log(res.err_msg);
				// alert(res.err_code+res.err_desc+res.err_msg);
			}
		);
	}
    function doPay() {
        if(typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
		        document.addEventListener('WeixinJSBridgeReady', jsApiCallPay, false);
		    } else if (document.attachEvent) {
		        document.attachEvent('WeixinJSBridgeReady', jsApiCallPay);
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCallPay);
		    }
        } else {
            jsApiCallPay();
        }
        // location.assign('/reading/success?openid={{ .OpenId }}');
    }
</script>

</body>
</html>
