<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>共读书院</title>
    <meta charset="utf-8" >
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" >
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="https://jhsy.caizhu.com/static/css/m-main.css?data=0512" >
    <link rel="stylesheet" href="http://7xpo0j.com1.z0.glb.clouddn.com/reading/css/m-show.css" >
    <link rel="stylesheet" href="https://jhsy.caizhu.com/static/css/m-sy.css?data=0512" >
</head>
<body>

<style>
    .prompt-p{word-break: break-all;}
</style>

<!--<div id="init-pageshow"><div class="init-pageshow"></div></div>-->
<style>
    .enroll-dobox{margin-bottom: 8px;}
    .do-pay.disabled{background: #bfbfbf;}

    .show-pay-loading{position: fixed; width: 60px; height: 60px; left: 50%; top: 40%; margin-left: -30px; margin-top: -30px; background: rgba(0, 0, 0, .6) url('http://img.caizhu.com/jhsy/images/m/icon-big-loading.gif') no-repeat center center; background-size: 45px auto; border-radius: 5px;}
</style>

<div class="show-box nobd">
    <div class="pb-info pt20 clearfix">
        <span class="show-over">{{ .NickName }}</span>
        <img src="{{ .AvatarUrl }}">
    </div>

    <section class="enroll-box">
        <ol class="enroll-status">
            <li class="eb-tone eb-icon current">
                <span class="icon-enroll"></span>
                <p>报名</p>
            </li>
            <li class="eb-tone eb-line"></li>
            <li class="eb-tone eb-icon current">
                <span class="icon-fee"></span>
                <p>付费</p>
            </li>
            <li class="eb-tone eb-line"></li>
            <li class="eb-tone eb-icon current">
                <span class="icon-begin"></span>
                <p>开学</p>
            </li>
        </ol>
        <ul class="enroll-infobox mt20">
            <li class="eb-block eb-level2">
                <div class="eb-lv-info">
                    <div class="eb-code">
                        <img class="eb-showb" src="http://7xpo0j.com1.z0.glb.clouddn.com/reading/img/succeed_07.png">
                        <h3 class="eb-count">恭喜您成为共读书院第 15 期学员</h3>
                    </div>
                    <div class="eb-lv-info">
                        <img class="eb-showb" src="http://7xpo0j.com1.z0.glb.clouddn.com/reading/img/su_02.png">
                    </div>
                    <p class="eb-mod01"><strong>分班时间：</strong>222<br><strong>开学时间：</strong>333<br>届时我们会通过公众号通知学员。<br>请关注【静好书院招生办】接收相关通知。</p>

                    <div class="eb-code">
                        <img :src="classZBQR">
                        <p class="mt20">长按识别二维码关注【静好书院教务处】</p>
                    </div>
                    <div class="eb-mod00">
                        <p>如果您有任何疑问，可添加静好书院客服</p>
                        <p>微信：<span>jinghaoshuyuan</span>进行咨询</p>
                    </div>
                </div>
            </li>
            <li class="eb-block eb-level2">
                <div class="eb-lv-info">
                    <img class="eb-showb" src="http://7xpo0j.com1.z0.glb.clouddn.com/reading/img/su_02.png">
                    <div class="eb-code">
                        <img class="eb-showb" src="http://7xpo0j.com1.z0.glb.clouddn.com/reading/img/succeed_07.png">
                        <h3 class="eb-count">恭喜您成为共读书院第 15 期学员</h3>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>

<div class="show-bd nobd">
    <section class="enroll-box">
        <ul class="enroll-infobox mt20">
            <li class="eb-block eb-level2">
                <div class="eb-lv-info">
                    <img class="eb-showb" src="http://7xpo0j.com1.z0.glb.clouddn.com/reading/img/su_02.png">
                </div>
            </li>
        </ul>
    </section>
</div>

<div id="app-pay-loading" :class="{hide: !loadingStatus}"><defined-pay-loading></defined-pay-loading></div>

<script src="https://jhsy.caizhu.com/static/js/zepto.min.js"></script>
<script src="https://jhsy.caizhu.com/static/js/timecountdown.js?data"></script>

</body>
</html>
