<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>首页</title>
    <meta charset="utf-8" >
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="keywords" content="" >
    <meta name="description" content="" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" >
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/reading/m-main.css?v=0622" >
    <link rel="stylesheet" href="/reading/m-show-1.css?v=0622" >
    <link rel="stylesheet" href="/reading/m-sy.css?v=0622" >

    <style>
        .wxtip {
            background: rgba(0,0,0,0.8);
            text-align: center;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
        }
        .wxtip img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    </style>
</head>
<body>

<section id="app00">

    <div class="show-sybox sybox-pb80">
        {{ $userId := .UserId }}
        {{ $now := .Now }}

        {{ $lenCourse := len .Courses }}
        {{ if gt $lenCourse 0 }}
        <div class="today-title clearfix mt20">
            <strong>课程列表</strong>
        </div>
        {{ range .Courses }}
        <div class="task-info p-rela" onclick="location.assign('/reading/register/signup/{{.CourseType}}');">
            <div class="task-cover-course">
                <img class="" src="{{ .Cover }}">
            </div>
            <div class="task-infodet">
                <div class="task-titlev1">
                    {{ .Name }} [第{{ .CourseNum }}期]
                </div>
                <p class="task-des fs-12">
                    {{ .Introduction }}
                </p>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>

    <div class="wxtip" id="byzstips" style="display: none;" >
        <img id="byzstipsimg" src="">
    </div>

</section>

<script src="https://oss.ririyuedu.com/zepto.min.js"></script>

<script>

var scrollFlag = true,      // scroll + anchor
    scrollTimeId,

    $scrollOne,      // scroll - action
    onePosArr = [];

var showFlag = 0;

function changeMonth(index) {
    document.getElementById("slide-month"+showFlag).removeAttribute("class");
    showFlag = index;
    document.getElementById("slide-month"+showFlag).setAttribute("class", "current");
    scrollFlag = false;
    scrollTimeId = setTimeout(function(){
        scrollFlag = true;
    }, 600);
    goMAnchor(index);
}

function goAnchor(index){
    location.hash = '#anchor-' + index*4;
}

function goMAnchor(index){
    location.hash = '#anchor-m' + index;
}

/****** scroll - S ******/

//if(app00.articleType) initOnePos();      // 全文类型


function initOnePos(){
    onePosArr.length = 0;
    $scrollOne = $('.minfo-box');
    $scrollOne.each(function(){
        var $self = $(this),
                n;
        n = distanceTop($self[0]);
        onePosArr.push(n);
    });
}

$('#byzstips').click(function(e) {
    document.getElementById('byzstips').style.display='none';
});

function handleShowIndex(n, wH){      // n ,页面线上滚动距离
    if(!n){
        app00.showFlag = 0;
        return;
    }

    var flag = false;
    //n += 10;
    var index = 0,
            eH = n + wH;
    for(var len=onePosArr.length,i=len-1,a; i>=0; i--){
        a = onePosArr[i];
        //console.log(n+' : '+a+' : '+eH);
        if(n <= a && a <= eH){
            flag = true;
            index = i;
        }
    }

    if(flag){app00.showFlag = index;}
    else{
        for(var x, y,j=0; j<len; j++){
            x = onePosArr[j];
            y = onePosArr[j+1] || 0;
            if(x < n && n < y){
                index = j;
            }

        }
        if(n > onePosArr[len-1]){
            index = len-1;
        }
        app00.showFlag = index;
    }
    return index;
}

function indexToMonth(n){   // 书的列表对应成月份
    if(!n) {return 0;}
    var a, b = 4;
    a = parseInt(n / 4);
    return a;

}

window.addEventListener('scroll', function(e){
    if(!scrollFlag) return ;
    scrollProcessor.run();
}, false);

function distanceTop(elem){
    var n = 0;
    while(elem !=window.document.body && elem != null){
        n += elem.offsetTop;
        elem = elem.offsetParent;
    }
    return n;
}
/****** scroll - E ******/

</script>


<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6a9b94188802775bf3c74553369a407c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>